<!-- Sección Precios  -->
<div class="col-md-9" *ngIf="historicalData$ | async as historicalList">

      <span>{{ historicalList.symbol }}</span>
      <div >
        <table class="table table-bordered table-hover ">
          <thead>
            <tr>
              <th>FECHA</th>
              <th>PRECIO</th>
            </tr>
          </thead>
            <tbody *ngFor="let item of historicalList.historical">
              <tr >
                <!-- <td>{{ item | json }}</td> -->
                <td>{{ item.date }}</td>
                <td>{{ item.close }}</td>
                <!-- <td>aqui va historicalData.close</td> -->
              </tr>
            </tbody>

        </table>
      </div>

</div>

<!-- Sección Gráfico -->
